* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", "Times", serif;
}

body {
    background: #eee;
}

.root {
    background: white;
    border: 1px solid black;
}

.deck,
.question,
.answer,
.prompt,
.controls {
    padding: 32px;
}

.deck,
.question,
.prompt,
.answer {
    border-bottom: 1px solid #bbb;
}

.deck h1 {
    font-size: 36px;
    font-weight: 300;
}

.question,
.answer {
    font-size: 30px;
    width: 900px;
    min-height: 250px;
}

.prompt {
    font-size: 30px;
    width: 900px;
    min-height: 500px;
}

img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.controls form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    border: 1px solid #bbb;
    padding: 16px;
    background: white;
    font-size: 24px;
    margin: 0 16px;
    font-family: "Times New Roman", "Times", serif;
    cursor: pointer;
}

a[href="cloze"] {
    background: #a0a0a0;
    color: transparent;
    text-decoration: none;
    border-radius: 8px;
    pointer-events: none;
    cursor: text;
}

a[href="cloze_reveal"] {
    color: royalblue;
    text-decoration: none;
    pointer-events: none;
    cursor: text;
}
