* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.root {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Times New Roman", "Times", serif;
}

.root {
    display: flex;
    flex-direction: column;

    .header,
    .controls {
        background: #f8f8f8;
    }

    .header {
        padding: 32px;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .progress-bar {
            width: 300px;
            height: 24px;
            border: 1px solid #999;
            border-radius: 12px;
            background: white;
            overflow: hidden;

            .progress-fill {
                height: 100%;
                background: palegreen;
            }
        }
    }

    .card-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fcfcfc;
        overflow: hidden;

        .card {
            background: white;
            border: 1px solid black;
            width: 700px;
            min-height: 400px;
            max-height: 90%;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 48px 16px #ddd;

            .card-header {
                border-bottom: 1px solid black;
                padding: 24px;

                h1 {
                    font-size: 36px;
                }
            }

            .card-content {
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: auto;

                .question,
                .answer,
                .prompt {
                    padding: 24px;
                }

                .question {
                    border-bottom: 1px solid black;
                }

                .answer {
                    min-height: 30px;
                }

                .rich-text {
                    font-size: 30px;

                    .cloze {
                        width: 30px;
                        background: #a0a0a0;
                        text-decoration: none;
                        border-radius: 8px;
                        color: transparent;
                    }

                    .cloze-reveal {
                        color: royalblue;
                    }

                    img {
                        display: block;
                        margin: 12px auto;
                        max-width: 600px;
                        height: auto;
                    }
                }
            }
        }
    }

    .controls {
        border-top: 1px solid black;
        padding: 32px;

        form {
            display: flex;
            flex-direction: row;
            justify-content: center;

            input {
                margin: 0 12px;
                background: white;
                border: 1px solid #999;
                padding: 7px 12px;
                font-size: 16px;
                font-family:
                    system-ui,
                    -apple-system,
                    "Helvetica Neue",
                    sans-serif;
                font-weight: 600;
                border-radius: 6px;
                cursor: pointer;
                box-shadow: #ccc 0px 1px 3px 0px;

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }
}

.finished {
    /* TODO: style for the "session complete" page */
}

.katex {
    font-size: 1em;
}
